<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center">Contact Us</h1>
        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
            <p>
                We'd love to hear from you! If you have any questions, feedback, or suggestions, please feel free to reach out to me. You can contact me via email at <a href="mailto:kaushikbiradar&#64;gmail.com">kaushikbiradar&#64;gmail.com</a> or follow me on my social media channels: <a href="https://www.instagram.com/ka.ushik7619/" target="_blank">Instagram</a>, <a href="https://x.com/chandlamhein" target="_blank">X</a>.I look forward to connecting with you!
            </p>
                     
            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4 btn-theme" routerLink="/">Back to Home</button>
            </div>
        </div>
    </div>
</section>
