<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center">Terms and Conditions</h1>
        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
            <p>
                Welcome to Kaushik Blogs! By accessing and using my website, you agree to comply with and be bound by the following terms and conditions of use. The content provided on this website is for general information purposes only and is subject to change without notice. I strive to ensure the accuracy and completeness of the information, but I do not guarantee or warrant the correctness, timeliness, performance, or suitability of the information and materials found or offered on this website for any particular purpose. Your use of any information or materials on this website is entirely at your own risk, for which I shall not be liable. It shall be your responsibility to ensure that any products, services, or information available through this website meet your specific requirements. Unauthorized use of this website may give rise to a claim.            
            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4 btn-theme" routerLink="/">Back to Home</button>
            </div>
        </div>
    </div>
</section>