<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div>
                    <div class="site-logo" routerLink="/">
                        Stack Citadel
                    </div>
                    <div>
                        <ul class="nav justify-content-center">
                            <li class="nav-item"><a href="" class="nav-link" >Home</a></li>
                            <li class="nav-item"><a href="" class="nav-link" routerLink="/about">About Us</a></li>
                            <li class="nav-item"><a href="" class="nav-link" routerLink="/term-conditions">Terms & Conditions</a></li>
                            <li class="nav-item"><a href="" class="nav-link" routerLink="/contact">Contact</a></li>
                        </ul>
                    </div>
                    <p class="mb-2 mt-2">Copyright © 2024 Kaushik Blog</p>
                </div>
            </div>
        </div>
    </div>
</footer>
