<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center">About us</h1>
        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
            <p>Welcome to Kaushik Blogs</p>
            <p>Kaushik Blogs is your go-to destination for engaging, insightful, and diverse content. Created with passion and dedication, Kaushik Blogs offers a unique blend of articles, stories, and shayaris that resonate with a wide audience.
                
                What You'll Find Here
                In-Depth Articles: Dive into well-researched and thought-provoking articles covering a range of topics. Whether you're interested in technology, lifestyle, travel, or personal development, there's something here for everyone.
                
                Captivating Stories: Get lost in compelling narratives that capture the essence of human experiences. From fiction to real-life stories, our blog aims to inspire and entertain.
                
                Beautiful Shayaris: For lovers of poetry, our collection of shayaris is sure to touch your heart. Crafted with emotion and elegance, these poetic expressions add a touch of beauty to our blog.
                
                Our Mission
                At Kaushik Blogs, our mission is to create a platform that not only informs and entertains but also inspires our readers. We believe in the power of words to bring about positive change and foster a sense of community.
                
                Join Us
                We invite you to explore our blog, share your thoughts, and become a part of our growing community. Whether you're here to read an in-depth article, enjoy a captivating story, or immerse yourself in beautiful shayaris, Kaushik Blogs is the perfect place for you.</p>
            
            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4 btn-theme" routerLink="/">Back to Home</button>
            </div>
        </div>
    </div>
</section>